<div class="content">
  <div class="left">
    <div class="left_content">
      <h2 class="left_info">Your turn to choose</h2>

      <table class="sectors">
        <tbody>
          <tr>
            <td>
              <div class="left_top sector">
                <p>Companies</p>
              </div>
            </td>
            <td>
              <div class="right_top sector">
                <p>Universities</p>
              
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="left_bot sector">
                <p>Colleges</p>
              </div>
            </td>
            <td>
              <div class="right_bot sector">
                <p>School</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="right">
    <div class="right_content">
      <h2 class='right_info'>How it works?</h2>
      
      <p>
        Our site gathers different goods from universities, companies, colleges and schools worldwide!
        You can choose thing you want directly from the company store. You can do it by selecting
        category on the top or selecting favorite company on the left.
      </p>

      <p>
        Our collection of companies and related goods is increasing every day.
      </p>

      <p>
        After choosing and paying for the order, you will be able to monitor where you delivery
        locating now. After order arrived, you need to accept it and sign that you got it.		
      </p>
    </div>
  </div>
</div>

