<div class='secondary_head'>
  <div class='categories'>
    <ol>
      <li><a href='#'>New</a></li>
      <li><a href='#'>Hoodies</a></li>
      <li><a href='#'>T-shirts</a></li>
      <li><a href='#'>Caps</a></li>
      <li><a href='#'>Cups</a></li>
      <li><a href='#'>Accesories</a></li>
      <li><a href='#'>Home</a></li>
      <li><a href='#'>Gifts</a></li>
      <li><a href='#'>Gogo</a></li>
    </ol>
  </div>

  <div class='search'>
    <div class='search_form'>
      <form>
        <div class='search_bar'>
          <input class='search_part' type="text" name="search_bar">
        </div>

        <div class='search_btn'>
          <input class='search_part' type="button" name="go_search" value="Search!">
        </div>
      </form>
    </div>
  </div>
</div>